*{
  font-family: 'Poppins', sans-serif;
  
}
#nav{
  display:flex;
  justify-content:space-between;
  background-Color:#FFF8F3;

  
}
 

#logo{
  height:50px; 
  width:50px;
  padding:10px;
}
.navbar{
  margin-right:50px;
}
.navbar li{
  display:inline;
  margin-left:10px;
  padding:10px;
  
}
li a{
  text-decoration:none;
  padding:10px;
  color:#D60ED6;
  font-weight:bold;
  font-size:20px;
 
}

li:hover{
  background-color:orange;
  border-radius:5px;
 
}

/* frist-section */
#frist-section{
  background-image: url(../images/header_bg.png);
  background-repeat:no-repeat;
  background-position:right bottom;
}
#container1{
  display:flex;
  justify-content: center;
  
}
#name1{
  width: 50%;
  margin-top:200px;
  margin-left:100px;

}
#portfoli-img{
  width:586px;
  height:676px;
}

#vertical-text{
           writing-mode: vertical-lr;
            text-orientation: upright;
            /* background-color:orange; */
            color:#D7B0D7;
            font-size:20px;

}

/* about-feild */
.container{
 margin:130px 150px;
   background-color:#FFF8F3;
   padding:20px;
}
#about-container{
  padding:130px 156px;
}
.about-feild{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:10px;
  
}
div h5,h4{
  text-align:center;
}
.blockquote{
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.resume{
  display:flex;
  gap:20px;
  
}
 
.download-btn{
  background-color:orange;color:aliceblue;
  padding:10px;
  border-radius:5px;
  border:none;
}
.download-btn:hover{background-color:blue}

#download-btn{
  margin-top: 50px;
  margin-left:450px;
}

#resume{
  padding:0 100px;
  gap:50px;
}